body * {
    padding: 0;
    margin: 0;
}

.container {
    width: 90vw;
    height: 80vh;
    min-height: 500px;
    background-color: #0f172a;
    border: 2px solid black;
    margin: 5vh auto;
    position: relative;

}

.ball {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #b44e0e;
    border: 2px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: bounce 3s linear 1s infinite;
}

@keyframes bounce {
    0% {
        bottom: 0;
        left: 0;
    }

    25% {
        bottom: 50%;
        left: calc(25% - 30px);
    }

    50% {
        bottom: 0;
        left: calc(50% - 30px);
    }

    75% {
        bottom: 50%;
        left: calc(75% - 30px);
    }

    100% {
        bottom: 0;
        left: calc(100% - 60px);
    }
}