* {
    padding: 0;
    margin: 0;
}

.card {
    border: 2px solid #ddd;
    margin: 20px;
    padding: 10px;
    width: 320px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.card-img {
    width: 100%;
    height: 240px;
    background-image: url(card-pic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.tags {
    margin: 15px 0;
    padding: 10px;
}

.tag {
    display: inline-block;
    color: #777;
    border: 2px solid #ddd;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: small;
}

h2 {
    font-weight: 500;
    padding: 10px;
    font-size: 1.7em;
}

p {
    color: #777;
    padding: 10px;
    line-height: 140%;

}

.btn {
    text-align: center;
}

button {
    border: none;
    color: rgb(126 172 255);
    font-weight: 600;
    background-color: #88b2ff4f;
    padding: 13px 25px;
    border-radius: 40px;
    cursor: pointer;

}