li {
    float: left;
}

ul {
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
    padding: 0;
}

li a {
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}